* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted red; */
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: darkblue;
    color: white;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    color: white;
    list-style: none;
    display: flex;
    gap: 10px;
}

.hero {
    background-color: blue;
    color: white;
    flex-grow: 0;
}

.section1 {
    background-color: lightblue;
    color: black;
    flex-grow: 1;
}

.section2 {
    background-color: grey;
    color: black;
    flex-grow: 1;
}

.section3 {
    background-color: white;
    color: black;
    flex-grow: 1;
}

.footer {
    background-color: darkblue;
    color: white;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration-line: none;
    color: white;
}