* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted red; */
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: darkblue;
    color: white;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    color: white;
    list-style: none;
    display: flex;
    gap: 10px;
}

.hero {
    background-color: blue;
    color: white;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-container {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 20px;
}

.section1 {
    background-color: lightblue;
    color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1-content {
    display: flex;
    
}

.section1-item1,
.section1-item2,
.section1-item3,
.section1-item4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section1-image-container {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.section2 {
    background-color: grey;
    color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotee {
    align-self: flex-end;
    font-weight: bold;
}

.section3 {
    background-color: white;
    color: black;
    flex-grow: 1;
}

.footer {
    background-color: darkblue;
    color: white;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration-line: none;
    color: white;
}